<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Theater</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="main.js"></script>
</head>

<body onload="myFunction()">
    <div style="position:fixed;width:100%;height:100vh;background-color: orange;z-index: 20;" id="loader" >
        <div class="frame">
            <div class="center" >
                <div class="dot-1"></div>
                <div class="dot-2"></div>
                <div class="dot-3"></div>
            </div>
        </div>
    </div>
    <div id="app1" style="background-image: url('./poster/bg.jpg');height: 100%;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover">
        <navbar></navbar>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height: 100vh;">
            <ol class="carousel-indicators" style="opacity: 0">
                <li data-target="#carouselExampleIndicators" :data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" v-for="poster in posterlist" :data-slide-to="poster.id"
                    :class="poster.class"></li>
                <!-- <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li> -->
            </ol>
            <div class="carousel-inner" style="height:95vh;background-color: black">
                <div class="carousel-item active" style="position:center">
                    <img src="https://wallpapercave.com/wp/wp2505826.jpg" style="height: 100%;width: 100%;">
                </div>
                <div class="carousel-item" v-for="poster in posterlist">
                    <img :src="poster.src" style="width:100%;height: 100%;">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="container" style="background-color:#EAECEE;margin-top: 10px">
            <div class="row">
                <div class="col-6" style="text-align:center;margin-top: 15px;">
                    <!-- <button type="button" class="btn btn-light" style="width:100%">'</button> -->
                    <select class="custom-select custom-select-lg mb-3" v-model="selected">
                        <option selected value="0">All</option>
                        <option v-for="cat in categories" v-bind:value="cat.id">{{cat.name}}</option>
                    </select>
                </div>
                <div class="col-6" style="text-align:right;padding-top: 15px;">
                    <input type="text" name="search" placeholder="Search.." style="height:5vh" id="search">
                    <button type="button" style="height:5vh;margin-left: -5px" v-on:click="search2"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div>
            <div class="container" style="background-color:#EAECEE">
                <div class="row" style="padding:20px">
                    <div class="col-md-4" v-for="movie in movies" style="padding-top:15px" v-if="movie.showing">
                        <div class="card my-3" style="height:100%">
                            <img :src="movie.poster" class="card-img-top img-fluid" style="height:100%" alt="..." />
                            <div class="card-body">
                                <h6 class="card-title">{{movie.name.en}}</h6>
                                <h6 class="card-title">{{movie.name.th}}</h6>
                                <p class="card-text">
                                </p>
                                <a href="inMovie.html" class="btn btn-info" role="button" style="width:100%">See
                                    more</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script src="./component.js"></script>
    <script src="./data.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>

</html>